/* :root {

} */

* {
    margin: 0;
    padding: 0;
    /* ignore padding in the overall width */
    box-sizing: border-box;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.contact-link-icon > a {
    text-decoration: none;
    color: #1e3050;
}

/* page-border class will be used to create a large border around index page in full size views */
/* .page-border {
    margin: 0;
} */

header {
    /* display: block; */
    /* width: 100%; */
    /* justify-content: center; */
    margin-top: 25px;
    border-bottom: 2px solid black;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header nav ul{
    text-align: center;
    padding: 15px 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.about-section {
    width: 100%;
}

.headshot-div {
    width: 100%;
    text-align: center;
}

.headshot {
    height: auto;
    width: 60vw;
    margin: 10px;
}

.about-text {
    margin: 10px;
    padding: 5px;
}

.about-text span {
    font-weight: bold;
}

.projects {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.project-card {
    align-items: center;
    margin: 10px 10px;
    border: 1px solid black;
}

.project-card img {
    height: 200px;
    width: 100%;
    border: 1px solid pink;
    border-radius: 10px;
}

.project-card-info {
    margin: 10px;
    border: 1px solid green;
}

.project-card-info span {
    font-weight: bold;
}

.project-link-icons {
    display: flex;
    justify-content: space-evenly;
}

.link-icon {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: lightblue;
}

.contact-links {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-link-set {
    border: 1px solid lightpink;
    height: 150px;
    width: 80vw;
    text-align: center;
}

.contact-link-set p {
    margin: 5px 0px;
}

.contact-link-set span {
    font-weight: bold;
}

.contact-link-icon {
    text-align: center;
}